@font-face {
  font-family: "Roboto-Medium";
  src: url("../static/fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../static/fonts/Roboto-Regular.ttf");
}

body {
  background-color: white;
  font-family: Roboto-Medium, sans-serif;
  color: #052C65;
}

aside {
  position: sticky;
  width: 219px;
  height: 100%;
  background: #383838;
  left: -219px;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  transition: all 0.4s ease;
}

aside.active {
  left: 0;
}

aside a {
  display: block;
  text-decoration: none;
  font-size: 1rem;
  color: #818181;
}

.toggle-wrap {
  display: none;
  padding: 10px;
  position: relative;
  cursor: pointer;
  float: left;
  z-index: 1;

  /*disable selection*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.toggle-bar,
.toggle-bar::before,
.toggle-bar::after,
.toggle-wrap.active .toggle-bar,
.toggle-wrap.active .toggle-bar::before,
.toggle-wrap.active .toggle-bar::after {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.toggle-bar {
  width: 38px;
  margin: 10px 0;
  position: relative;
  border-top: 6px solid #303030;
  display: block;
}

.toggle-bar::before,
.toggle-bar::after {
  content: "";
  display: block;
  background: #303030;
  height: 6px;
  width: 38px;
  position: absolute;
  top: -16px;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -ms-transform-origin: 13%;
  -webkit-transform-origin: 13%;
  transform-origin: 13%;
}

.toggle-bar::after {
  top: 4px;
}

.toggle-wrap.active .toggle-bar {
  border-top: 6px solid transparent;
}

.toggle-wrap.active .toggle-bar::before {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.toggle-wrap.active .toggle-bar::after {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}


.bg-light {
  --bs-bg-opacity: 1;
  background-color: #fff !important;
}

ul {
  font-family: Roboto-Regular, sans-serif;
  font-size: 14px;
}

.nav-link {
  color: #052C65;
}

.nav-link:hover {
  color: white;
  background-color: #0D6EFD;
}

.active-select {
  cursor: pointer;
}

.active-select.nav-link:hover {
  color: white;
}

.selected-item > a {
  margin-left: 8px;
  height: 37px;
}

.selected-item:hover {
  color: white;
  background-color: #0D6EFD;
  border-radius: 5px;
}

.nav-link:active {
  color: white;
  background-color: #0D6EFD;
}

.nav-link:hover .icon-1 {
  fill: white;
}

.nav-link:hover .icon-2 {
  fill: white;
}

.btn-toggle-nav a:hover {
  background-color: transparent;
}

.icon-1 {
  fill: #052C65;
}

.icon-2 {
  fill: #052C65;
}

.btn-toggle:hover, .btn-toggle:focus {
  color: rgb(255, 255, 255);
  background-color: #0D6EFD;
}

.btn-toggle::before {
  position: absolute;
  left: 160px;
}

.balance {
  font-size: 14px;
}

.balance > span {
  color: #0D6EFD;
}

.profile {
  cursor: pointer;
}

.profile-name {
  font-size: 14px;
}

main {
  overflow: auto;
}

.main-content {
  padding: 100px 94px 133px 60px;
}

.main-content-title {
  font-size: 40px;
  margin-bottom: 40px;
}

.main-title {
  margin-bottom: 60px;
}

.main-content-filters {
  margin-bottom: 130px;
}

.main-content-filters > button {
  color: #6C757D;
  border: 1px solid #6C757D;
  border-radius: 4px;
  width: 100px;
  height: 37px;
  margin-right: 20px;
  background-color: transparent;
}

.main-content-filters > span {
  margin-right: 20px;
}

.main-content-filters > a {
  margin-right: 20px;
}

.main-content-filters > button:hover {
  color: white;
  background-color: #6C757D;
}

.custom-filter > input {
  margin-right: 10px;
  /*width: 90px;*/
  /*border: 0;*/
}

.custom-filter > span {
  margin-right: 15px;
}

.main-subtitle {
  text-align: center;
  margin-bottom: 10px;
  font-size: 28px;
  color: #290661;
}

canvas {
  width: 360px;
  height: 360px;
}

.fin-item {
  margin: 0 20px 20px 0;
  padding: 20px;
  width: 352px;
  border: 1px solid #CED4DA;
  border-radius: 12px;
}

.fin-item-title {
  text-align: left;
}

.main-item-button {
  /*width: 134px;*/
  /*height: 38px;*/
  padding: 11px 16px;
  font-size: 14px;
  color: white;
  border-radius: 5px;
  border: 0;
}

.fin-item-button-1 {
  background-color: #0D6EFD;
  text-decoration: none;
}

.fin-item-button-2 {
  background-color: #DC3545;
}

.creat-item {
  padding: 44px 168px;
  vertical-align: middle;
}

.fin-item-buttons {
  text-align: left;
}

.creat-item-button {
  text-decoration: none;
  font-size: 28px;
  background-color: transparent;
  border: 0;
  color: #CED4DA;
  outline: 0;
}

.modal-body {
  padding: 40px 40px 0;
  font-size: 19px;
  line-height: normal;
  color: #290661;
}

.modal-footer {
  padding: 20px 0 40px 0;
  border-top: 0;
  justify-content: center;
}

.field-creating-category {
  margin-bottom: 20px;
}

.field-creating-category > input {
  padding: 7px 16px;
  width: 397px;
  border: 1px solid #CED4DA;
  border-radius: 4px;
  outline: none;
  font-family: Roboto-Regular, sans-serif;
  font-size: 15px;
}

.creating-buttons {
  margin-bottom: 40px;
}

.expenses-incomes-filters {
  margin-bottom: 40px;
}

.my-active-btn.active {
  color: white;
  background-color: #6C757D;
}

.table {
  --bs-table-color: none;
}

.field-creating-category > input {
  margin-bottom: 10px;
}

.field-creating-category > input:last-child {
  margin-bottom: 0;
}

.creating-select-field {
  padding: 7px 16px;
  width: 397px;
  border-radius: 4px;
  border: 1px solid #CED4DA;
  margin-bottom: 10px;
  color: #6C757D;
  font-size: 15px;
  font-family: Roboto-Regular, sans-serif;
}

.row > * {
  margin-top: 10px;
}

.input-group > input::placeholder {
  font-family: Roboto-Regular, sans-serif;
  font-size: 15px;
}

.remember-me-label {
  font-family: Roboto-Regular, sans-serif;
  font-size: 12px;
  color: black;
}