<div class="main-content">
    <div class="main-content-title">Создание категории расходов</div>
    <div class="field-creating-category">
        <input type="text" class="form-control" id="creatingExpenseInput" placeholder="Название...">
        <span id="creatingIncomesInput-error" class="error invalid-feedback">Заполните поле</span>
    </div>
    <div class="creating-category-buttons">
        <button type="button" class="btn btn-success me-1" style="font-size: 14px" id="creatingExpensesButton">Создать</button>
        <button type="button" class="btn btn-danger" style="font-size: 14px" id="cancelCreatingExpenses">Отмена</button>
    </div>
</div>