<div class="main-content">
    <div class="main-content-title edit-category-main-title">Редактирование категории расходов</div>
    <div class="field-creating-category">
        <input type="text" class="form-control" value="" placeholder="Название..." id="edit-category-expense">
        <span id="editingExpensesInput-error" class="error invalid-feedback">Заполните поле</span>
    </div>
    <div class="creating-category-buttons">
        <button type="button" class="btn btn-success me-1" style="font-size: 14px" id="creat-expense">Сохранить</button>
        <button type="button" class="btn btn-danger" style="font-size: 14px" id="cancel-creating-expense">Отмена</button>
    </div>
</div>